:root {
  --cell-size: 24px;
}

.grid-with-labels {
  user-select: none;
}

.label {
  font-weight: 600;
  font-size: 14px;
}
  
.grid {
  --bc: black;
}

/* -- ROW STYLES -- */
.row {
  display: flex;
}

/* -- CELL STYLES -- */
.cell {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid var(--bc);
  box-sizing: border-box;
}

.cell:hover {
  border: 2px solid lightslategray !important;
}

/*
-- cell states
0 = empty
1 = mark
2 = reserved (not in use)
3 = fill
*/
.cell[state="1"] {
  background-image: url("mark.svg");
  background-size: 20px;
  background-position: center;
}

.cell[state="3"] {
  background: linear-gradient(blue, slateblue, lightblue);
}

.crossed {
  color: gray;
}

/* border color stuff */
.row .cell:nth-of-type(2) {
  border-left: 2px solid var(--bc);
}

.row:nth-of-type(2) .cell {
  border-top: 2px solid var(--bc);
}

.row .cell:last-of-type {
  border-right: 2px solid var(--bc);
}

.row:last-of-type .cell {
  border-bottom: 2px solid var(--bc);
}

.label {
  padding-right: 8px;
  padding-left: 4px;
  width: 96px;
  text-align: right;
  letter-spacing: 0.2em;
  min-height: var(--cell-size);
}


.top-row .label:nth-of-type(2n +1) {
  background: linear-gradient(transparent, lightblue 48px);
/*   background-color: lightblue; */
}

/* keep the border of the grid in mind */
.top-row .label:first-child {
  max-width: calc(1px + var(--cell-size));
  width: calc(1px + var(--cell-size));
}

.row-labels .label:first-child {
  height: calc(1px + var(--cell-size));
}

.row-labels .label:nth-child(2n + 1) {
  background: linear-gradient(to right, transparent, lightblue 48px);
}

.row:last-of-type .label {
  border-bottom: none;
}

.row-labels .label {
  display: flex;
  justify-content: end;
  align-items: center;
}


.top-row {
  margin-left: 108px;
  display: flex;
  height: fit-content;
  display: flex;
}

.top-row .label {
  padding-top: 24px;
  display: flex;
  align-items: end;
  justify-content: center;
  word-break: break-all;
  width: var(--cell-size);
  max-width: var(--cell-size);
  box-sizing: border-box;
  border: none;
  padding-bottom: 4px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: right;
}

.label-text {
  text-align: center;
}


.grid {
  font-size: 0;
  max-width: calc(var(--cols) * var(--cell-size));
  border: 1px solid var(--bc);
}

.row-labels-grid-container {
  display: flex;
}

/*
.cell:nth-of-type(5n):not(:nth-of-type(25n)) {
  border-right-color: orange;
}

.cell:nth-of-type(5n+1):not(:nth-child(25n+1)) {
  border-left-color: orange;
}

.cell:nth-of-type(n+101):not(:nth-of-type(n+126)) {
  border-bottom-color: orange;
}

.cell:nth-of-type(n+126):nth-of-type(-n+150) {
  border-top-color: orange;
}

.cell:nth-of-type(n+226):not(:nth-of-type(n+251)) {
  border-bottom-color: orange;
}

.cell:nth-of-type(n+251):nth-of-type(-n+276) {
  border-top-color: orange;
}
*/

