.menu, .container {
  gap: 16px;
  box-sizing: border-box;
  margin: 64px auto;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timed {
  margin-top: 16px;
}

.timed button {
  width: 100%;
  height: 100%;
}

.normal form,
.creator form,
.load form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .menu {
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    height: 100vh;
  }
}
