body {
  margin: auto;
  width: fit-content;
  max-width: calc(100% - 32px);
  font-family: "Museo Sans Rounded", sans-serif;
}

#root {
  width: fit-content;
  display: flex;
  gap: 32px;
}

.classic-container {
  display: flex;
}

.timer {
  font-variant-numeric: tabular-nums;
}

.classic-container {
  gap: 24px;
}

.info {
  margin-top: auto;
}

.level {
  margin-bottom: 16px;
  font-size: larger;
}